# Mission_to_Mars initial scraping for use in app

## Scrape the [Mars News Site](https://redplanetscience.com/) and collect the latest News Title and Paragraph Text. Assign the text to variables for use later.

In [2]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

In [12]:
# URL of page to be scraped
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://redplanetscience.com/#'
browser.visit(url)

In [49]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
# Retrieve all elements that contain book information
articles = soup.find_all('html')

In [44]:
# Iterate through each article
for article in articles:
    # Use Beautiful Soup's find() method to navigate and retrieve attributes
    news_title = article.find('div', class_='content_title').text
    news_p = article.find('div', class_='article_teaser_body').text
    
    print(news_title)
    print(news_p)

NASA to Reveal Name of Its Next Mars Rover
After a months-long contest among students to name NASA's newest Mars rover, the agency will reveal the winning name — and the winning student — this Thursday.

In [45]:
browser.quit()

## Use splinter to get the featured image url for the full size image and save the string (https://spaceimages-mars.com).

In [46]:
# URL of page to be scraped
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [50]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
# Retrieve all elements that contain book information
articles = soup.find_all('html')

In [65]:
featured_image_url = "https://spaceimages-mars.com/" + soup.find("img", class_="headerimage")["src"]
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

In [69]:
browser.quit()

## Get Mars facts using pandas to scrape the table and save the table for later use.

In [3]:
# Dependencies
import pandas as pd

In [83]:
# URL of page to be scraped
url = 'https://galaxyfacts-mars.com'
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [89]:
table1_df = tables[0].drop([2], axis=1)
table1_df
table2_df = tables[1]
table1_df

                         0                1
0  Mars - Earth Comparison             Mars
1                Diameter:         6,779 km
2                    Mass:  6.39 × 10^23 kg
3                   Moons:                2
4       Distance from Sun:   227,943,824 km
5          Length of Year:   687 Earth days
6             Temperature:     -87 to -5 °C

In [90]:
combined_table = pd.concat([table1_df, table2_df], axis=0)
combined_table

                         0                              1
0  Mars - Earth Comparison                           Mars
1                Diameter:                       6,779 km
2                    Mass:                6.39 × 10^23 kg
3                   Moons:                              2
4       Distance from Sun:                 227,943,824 km
5          Length of Year:                 687 Earth days
6             Temperature:                   -87 to -5 °C
0     Equatorial Diameter:                       6,792 km
1          Polar Diameter:                       6,752 km
2                    Mass:  6.39 × 10^23 kg (0.11 Earths)
3                   Moons:          2 ( Phobos & Deimos )
4          Orbit Distance:       227,943,824 km (1.38 AU)
5            Orbit Period:           687 days (1.9 years)
6     Surface Temperature:                   -87 to -5 °C
7            First Record:              2nd millennium BC
8             Recorded By:           Egyptian astronomers

In [91]:
html_table = combined_table.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## Visit the astrogeology site (https://marshemispheres.com/) to obtain high resolution images for each of Mar's hemispheres. Get img_url and title into dictionary for later use.

In [43]:
# URL of page to be scraped
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://marshemispheres.com/'
browser.visit(url)

# make dictionaries to append
mars_maps = {"img_url": [], "title": []}

In [45]:
# Go to first link
browser.links.find_by_partial_text('Cerberus Hemisphere Enhanced').click()
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
# Retrieve link that contains img png.
articles = soup.find_all('html')
cerb_img_url = "https://marshemispheres.com/" + soup.find("a", text="Sample")["href"]
title_c = soup.find('h2', class_="title").text
mars_maps["img_url"].append(cerb_img_url)
mars_maps["title"].append(title_c)

print(mars_maps)

{'img_url': ['https://marshemispheres.com/images/full.jpg'], 'title': ['Cerberus Hemisphere Enhanced']}

In [46]:
# go back, then to next link
browser.back()
browser.links.find_by_partial_text('Schiaparelli Hemisphere Enhanced').click()

# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
# Retrieve link that contains img png.
articles = soup.find_all('html')
schia_img_url = "https://marshemispheres.com/" + soup.find("a", text="Sample")["href"]
title_s = soup.find('h2', class_="title").text

mars_maps["img_url"].append(schia_img_url)
mars_maps["title"].append(title_s)

print(mars_maps)

{'img_url': ['https://marshemispheres.com/images/full.jpg', 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'], 'title': ['Cerberus Hemisphere Enhanced', 'Schiaparelli Hemisphere Enhanced']}

In [47]:
# go back, then to next link
browser.back()
browser.links.find_by_partial_text('Syrtis Major Hemisphere Enhanced').click()

# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
# Retrieve link that contains img png.
articles = soup.find_all('html')
syrtis_img_url = "https://marshemispheres.com/" + soup.find("a", text="Sample")["href"]
title_sy = soup.find('h2', class_="title").text
mars_maps["img_url"].append(syrtis_img_url)
mars_maps["title"].append(title_sy)

print(mars_maps)

{'img_url': ['https://marshemispheres.com/images/full.jpg', 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg', 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'], 'title': ['Cerberus Hemisphere Enhanced', 'Schiaparelli Hemisphere Enhanced', 'Syrtis Major Hemisphere Enhanced']}

In [48]:
# go back, then to next link
browser.back()
browser.links.find_by_partial_text('Valles Marineris Hemisphere Enhanced').click()

# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
# Retrieve link that contains img png.
articles = soup.find_all('html')
valles_img_url = "https://marshemispheres.com/" + soup.find("a", text="Sample")["href"]
title_v = soup.find('h2', class_="title").text
mars_maps["img_url"].append(valles_img_url)
mars_maps["title"].append(title_v)

print(mars_maps)

{'img_url': ['https://marshemispheres.com/images/full.jpg', 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg', 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg', 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'], 'title': ['Cerberus Hemisphere Enhanced', 'Schiaparelli Hemisphere Enhanced', 'Syrtis Major Hemisphere Enhanced', 'Valles Marineris Hemisphere Enhanced']}